@model Lol.Bilgewater.Models.ViewModel
@{
    ViewBag.Title = "Mercs";
}
<br />
<div class="row" style="min-height: 995px; ">
    <div class="col-xs-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Merc Popularity</h3>
            </div>
            <div class="panel-body chart">
                <canvas id="mercPopularity" height="200"></canvas>
                <div id="mercLegend"></div>
                <div>
                    <img src="/Image/Item/3070" style="width:32px;height:32px;" alt="Tear">
                    Die Träne repräsentiert die Fälle wo der Spieler keinen Söldner gekauft hat.
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Duration Stats</h3>
            </div>
            <div class="panel-body chart">
                <canvas id="durationStats" height="200"></canvas>
                <div id="durationLegend"></div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Role Stats</h3>
            </div>
            <div class="panel-body chart">
                <canvas id="roleStats" height="200"></canvas>
                <div id="roleLegend"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div id="mercs" class="well" style="float: right;display:none;">

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var ctrl = new BilgewaterControl();
        $(function () {
            ctrl.Init('Mercs');
        });
    </script>
}
