@model Lol.Bilgewater.Models.ViewModel
@{
}
<br />
<div class="jumbotron">
    <h1>Willkommen</h1>
    <p>Bei unserem Beitrag zu der API-Challenge 2.0 wollten wir uns dem 1. möglichen Thema widmen:</p>
    <blockquote>
        <p>Given a data set of Black Market Brawlers match IDs, create a piece of software that utilizes the game data from these matches. </p>
        <small>Riot Tuxedo</small>
    </blockquote>
    <p>Wir haben uns Gedanken gemacht, welche Informationen interessant sein könnten. Unser primäres Ziel war zu analysieren welche Söldner für die Spieler besonders Interessant waren und ob die Spiellänge sich durch die stärkeren Minions verkürzt hat.</p>
    <p>Als Zusatz haben wir noch ein paar Statistiken zu der Performance der einzelnen Champions und Items hinzugefügt.</p>
    <p><a href="/Home/Mercs" class="btn btn-primary btn-lg">Los geht's</a></p>
</div>
